.header {
  background-color: #003618;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  /* 新增陰影效果 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.logo {
  height: 50px;
}

.nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0 50px; /* 加入 padding 確保內距 */
  flex-wrap: nowrap;
  overflow: hidden;
}

.nav ul.mobile {
  flex-direction: column;
  background-color: #003618;
  position: absolute;
  top: 60px;
  left: 0;
  width: 100%;
  text-align: center; /* 讓所有 link 置中 */
}

.nav ul.mobile li {
  margin: 10px 0;
}

.nav ul li {
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.nav a,
.menu-item {
  color: white;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  white-space: nowrap;
}

.menu-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 15px; /* 增加 padding 讓 icon 不貼邊 */
}

/* 響應式樣式 */
@media (max-width: 768px) {
  .nav ul {
    display: none;
  }
  .nav ul.mobile {
    display: flex;
    padding: 0; /* 重置 padding */
  }
  .menu-toggle {
    display: block;
  }
}
